@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased;
    color: #1a202c;
    font-size: 17px;
  }
}

@layer utilities {
  .section-padding {
    @apply py-20 px-4;
  }
  .container-max {
    @apply max-w-6xl mx-auto;
  }
  .text-balance {
    text-wrap: balance;
  }
}
